---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getAllEntries, getCanonicalUrl } from "../lib/content.mjs";

const entries = getAllEntries();
---

<BaseLayout title="All Posts" canonical={getCanonicalUrl("/all/")}>
  <main class="flex flex-col mx-auto w-full max-w-5xl px-4 lg:px-6 py-8">
    <h1 class="text-5xl text-white m-0 mb-8">All Posts</h1>
    <ul>
      {entries.map((entry) => <li><a href={entry.permalink}>{entry.title}</a>{entry.description && ` - ${entry.description}`}</li>)}
    </ul>
  </main>
</BaseLayout>
