<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<section class="header-and-description-wrapper">
			{{ partial "head.html" . }}
			<div class="site-description">
				{{- if isset .Site.Params "subtitle" -}}
				<p>{{ .Site.Params.Subtitle | markdownify }}</p>
				{{- end -}}
			</div>
		</section>
		<div class="content">
			
			<main class="list">
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $paginator.Pages }}
				<section class="list-item">
					<h1 class="title"><a href="{{ .RelPermalink }}">{{.Title}}</a></h1>
					<div class="home-tag-wrapper">
						{{ range .Params.tags }}
							<a class="home-tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
							{{ end }}
					</div>
					<time>{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</time>
					<br><div class="description">
						{{ if isset .Params "description" }}
						{{ .Description }}
						{{ else }}
						{{ .Summary }}&hellip;
						{{ end }}
					</div>
					<hr/>
				</section>
				{{ end }}
				{{ template "partials/paginator.html" . }}
			</main>
		</div>
		{{ partial "footer.html" . }}
	</body>
</html>
