# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
node_modules
apps/v1/content/.obsidian
**/.DS_Store
**/.hugo_build.lock
assets/css/style.css
apps/v1/assets/css/style.css
.obsidian
**/.smart-connections
.sst
.turbo
.wrangler
public
apps/v1/public
apps/v2/.astro
apps/v2/dist
.env
