# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
node_modules
**/.DS_Store
.hugo_build.lock
.obsidian
**/.smart-connections
.sst
.turbo
.wrangler
apps/v2/.astro
apps/v2/dist
.env
