{{ define "main" }}
<main class="flex flex-col mx-auto w-full max-w-5xl px-4 lg:px-6 py-8">
	<div class="mb-8">
		<h1 class="text-5xl text-white m-0">{{ .Title }}</h1>
		{{if .Date}}<time>Posted on {{ dateFormat "Jan 2, 2006" .Date }}</time>{{end}}
		{{ if .Params.draft }} <p class="draft-label">DRAFT</p> {{ end }}
		<div class="post-tags" data-pagefind-meta="tags">
			{{ if ne .Type "page" }}
			{{ if gt .Params.tags 0 }}
			<nav class="nav">
				<ul class="single-tags">
					{{ range .Params.tags }}
					<li class="single-tag"><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">#{{ . }}</a></li>
					{{ end }}
				</ul>
			</nav>
			{{ end }}
			{{ end }}
		</div>
	</div>
	{{ if isset .Params "tldr" }}
	<div class="tldr">
		{{ .Params.tldr }}
	</div>
	{{ end }}

	<article class="prose lg:prose-xl prose-headings:max-w-none [&_h2]:text-4xl [&_h3]:text-3xl">
		{{ .Content }}
	</article>
</main>
{{ end }}
