{{ define "main" }}
<main class="flex flex-col mx-auto w-full max-w-5xl px-4 lg:px-8 py-8">
  <div class="mb-8">
    {{ if isset .Data "Term" }}
    <h1 class="text-5xl text-white m-0">#{{ .Data.Term }}</h1>
    {{ else }}
    <h1 class="text-5xl text-white m-0">{{ .Title | default "All articles" }}</h1>
    {{ end }}
  </div>

  <ul class="flex flex-col divide-y divide-text/10 m-0 p-0">
    {{- range .Data.Pages -}}
    {{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}
      {{- partial "post-list-item.html" . -}}
    {{- end -}}
    {{- end -}}
  </ul>
</main>
{{ end }}
