{{ define "main" }}
<main>
	<article>
		<div class="title">
			<h1 class="title">{{ .Title }}</h1>
			<div class="meta">Posted on {{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</div>
			<div class="post-tags">
				{{ if ne .Type "page" }}
				{{ if gt .Params.tags 0 }}
				<nav class="nav">
					<ul class="single-tags">
						{{ range .Params.tags }}
						<li class="single-tag"><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
						{{ end }}
					</ul>
				</nav>
				{{ end }}
				{{ end }}
			</div>
		</div>
		{{ if isset .Params "description" }}
		<div class="tldr">
			<strong>description:</strong>
			{{ .Params.description }}
			<hr/>
		</div>
		{{ end }}
		{{ if isset .Params "tldr" }}
		<div class="tldr">
			<strong>tl;dr:</strong>
			{{ .Params.tldr }}
		</div>
		{{ end }}

		<section class="body">
			{{ .Content }}
		</section>
	</article>
</main>
{{ end }}
