@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --maincolor: #F5D547;
        --bordercl: #F5D547;
        --callouctcolor: dodgerblue;
        --hovercolor: #02394A;
        --darkMaincolor: #5C8001;
        --accentText: #ACC196;
        --text: #C8C2B7;
      }
    
    a {
        @apply text-white underline underline-offset-2 decoration-[var(--maincolor)] transition duration-100 ease-in hover:text-black  hover:visited:bg-[var(--maincolor)]  visited:decoration-[var(--accentText)];
    }
    .index-image {
      @apply object-cover w-full rounded-md sm:h-32 sm:w-32;
    }

    figure:has(a) figcaption {
        text-decoration: none;
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
        background-image: linear-gradient(to right, var(--hovercolor) 50%, var(--maincolor) 50%);
        background-position: 0;
        background-size: 200%;
        transition: all 0.4s;
        @apply rounded-tl-sm rounded-br-sm;
    }
    figure:has(a):hover figcaption {
        background-position: -100%;
    }

    figcaption h4 {
      @apply left-0 mt-0;
    }

    html {
        font-family: "Jetbrains Mono", monospace;
    }

    iframe {
        margin: 1rem 0;
    }

    hr {
        border: 0;
        border-top: 3px dotted ;
        margin: 1em 0;
      }

  }

@layer components {
    .social-links svg {
        width: 2.5rem;
        height: 2.5rem;
    }

    .single-tags {
        display: flex;
        flex-wrap: wrap;
        @apply space-x-4;
        line-height: 2;
    }
    
    .single-tag {
        list-style: none;
    }
}
