<footer>
<div class="social-links">
      <a href="mailto:guide@goosebumps.co.zw" target="_blank">
            {{- partial "mail.svg" . -}}
      </a>
      <a href="https://github.com/txndai" target="_blank">
            {{- partial "github.svg" . -}}
      </a>
      <a href="https://www.linkedin.com/in/guide-fari-8b0063176/" target="_blank">
            {{- partial "linkedin.svg" . -}}
      </a>
</div>
<!-- {{- range $index, $key := .Site.Params.Social -}}
<a class="soc" href="{{ $key.url }}" title="{{ $key.name }}"><i data-feather="{{ $key.icon }}"></i></a>|
{{- end -}} -->
	{{ dateFormat "2006" now }} {{ with .Site.Copyright }} {{ . }} | {{ end }} 
</footer>

