<h2>Content Archetypes & Topics</h2>
<ul>
  <li>
    <a href="note">Notes</a>. Can take the form of
    <a
      href="https://tomcritchlow.com/2023/02/10/riffs/"
      target="_blank"
      rel="noopener noreferrer"
      >riffs</a
    >, <a href="2022-learning-summary">journal entries & logs</a>,
    <a href="tt-jl">highlights from what I'm learning</a>.
  </li>
  <li><a href="til">Today I Learnt</a></li>
  <li>
    <a href="book">Book notes</a> - I really ought to share more of these. Some
    thoughts on <a href="reading">reading</a>. Last thing,
    <a href="https://sive.rs/bfaq" target="_blank" rel="noopener noreferrer">
      Derek Sivers' FAQ on his book notes</a
    >
    explains how I also like to think of my book notes.
  </li>
  <li><a href="podcast">Podcast notes</a></li>
  <li><a href="resource">Resources</a></li>
</ul>
<h3>Curated Music</h3>
Though most music related content is going to
<a href="https://goosebumps.fm" target="_blank" rel="noopener noreferrer"
  >goosebumps.fm</a
>, this site still has a rich repository of curated sounds.
<ul>
  <li><a href="tags/music/">All music</a></li>
  <li><a href="album">Albums</a></li>
  <li><a href="artist">Artists</a></li>
  <li><a href="track">Tracks</a></li>
  <li><a href="mix">Mixes</a></li>
  <li><a href="tags/playlist">Playlists</a></li>
</ul>
