<footer class="pt-5 text-left border-t-2 group">
  <div class="flex flex-wrap justify-center">
    <div class="w-full px-3 grow-0 shrink-0 basis-auto lg:w-10/12">
      <div class="grid items-center lg:grid-cols-2 gap-x-6">
        <div class="mb-10 lg:mb-0">
          <div class="text-2xl font-bold">
            Subscribe to keep in touch.
          </div>
        </div>

        <div class="mb-6 md:mb-0">
          <div class="">
            <form action="https://buttondown.email/api/emails/embed-subscribe/guidefari" method="post"
              target="popupwindow" class="flex flex-col justify-center md:justify-start md:flex-row">
              <input type="email" name="email" id="bd-email"
                class="block w-full px-4 py-2 m-0 mb-2 text-xl font-normal transition ease-in-out border border-gray-300 border-solid rounded form-control md:mb-0 md:mr-2 bg-clip-padding focus:outline-none"
                placeholder="Enter your email" />
              <button type="submit"
                class="inline-block py-3 text-sm font-medium leading-snug text-white uppercase transition duration-150 ease-in-out rounded shadow-md px-7 hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg"
                data-mdb-ripple="true" data-mdb-ripple-color="light">
                Subscribe
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>