<div
  class="flex flex-col-reverse items-start max-w-5xl mx-auto my-5 sm:flex-row hero"
>
  <div class="flex flex-col pr-8 mb-16">
    <h1 id="me" class="mb-3 text-3xl font-bold tracking-tight md:text-5xl">
      <span
        class="relative inline-block ml-2 before:absolute before:-inset-1 before:block before:-skew-y-3 before:bg-black"
        ><span class="relative text-white skew-y-3">Guide Fari</span></span
      >
    </h1>
    <h2>
      Software Engineer | Music Curator <br />
      Writing down lessons and observations along the way.
    </h2>
  </div>
  <img
    class="w-[80px] rounded-full sm:w-[176px] relative mb-8 sm:mb-0 mr-auto bg-cyan-300 bg-opacity-25"
    src="https://res.cloudinary.com/hokaspokas/image/upload/v1661928720/bar_shpohc.png"
    alt="Guide writing software in a bar"
  />
</div>
